/* Default CSS Code */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    color: #fff;
    background: #fc440f;
}

::selection {
    color: #fff;
    background: #fc440f;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:focus * {
    outline: 0;
}

button:focus {
    outline: 0;
}

.btn.focus,
.btn:focus {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.form-group {
    margin-bottom: 0;
}

figure {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    font-family: "Nexa-XBold";
    font-size: 20px;
    line-height: 40px;
}

a {
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    font-family: "NexaHeavy";
    font-weight: normal;
}

a:hover {
    text-decoration: none;
}

.overflow {
    overflow: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "NexaHeavy";
    font-weight: normal;
}

h1 {
    font-family: "HunterRegular";
    font-weight: normal;
    font-size: 120px;
    line-height: 120px;
}

h2 {
    font-size: 200px;
    line-height: 200px;
}

h3 {
    font-size: 80px;
    line-height: 80px;
}

h4 {
    font-size: 60px;
    line-height: 50px;
}

h5 {
    font-size: 40px;
    line-height: 40px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    line-height: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.custom-btn a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    text-transform: uppercase;
    color: #fff;
    line-height: 49px;
}

.custom-btn a:hover {
    color: #333333 !important;
    background: #fff;
    cursor: pointer;
}

.red-text {
    color: #fc440f;
}


/* Default CSS Code */


/* Bootstrap Code Customize */

@media (min-width: 1800px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1790px;
    }
}


/* Bootstrap Code Customize */


/*
font-family: "HunterRegular";
font-family: "NexaHeavy";
font-family: "Nexa-XBold";
font-family: "NexaRegular";
*/


/* Preloader */

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fc440f;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99999;
}


/* .main-preloader {
    width: 180px;
    height: 180px;
} */


/* Preloader */

body {
    font-size: 80px;
    line-height: 80px;
    font-family: "NexaHeavy";
    font-weight: normal;
    color: #333333;
    background: #fff;
}


/* main {
    opacity: 0;
} */

main.content-blur {
    filter: blur(20px);
    -webkit-filter: blur(20px);
}


/* Header Area */

.header-area {
    position: fixed;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
    /* Remove Display none when you want to visible Menu */
    /* Remove Display none when you want to visible Menu */
}

.menu-icon .menu-btn #Rectangle {
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}

.menu-icon .menu-btn:hover #Rectangle {
    fill: #fc440f;
}

.menu-list-area {
    position: fixed;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fc440f;
    z-index: 9999;
    visibility: hidden;
}


/* .menu-list-area.menu-visible {
    opacity: 0.97;
    bottom: 0;
    z-index: 9999;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
} */

.menu-inner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items {
    display: none;
}

.menu-list-area ul li a {
    font-family: "NexaHeavy";
    font-size: 80px;
    line-height: 80px;
    color: #ff7d57;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.menu-list-area ul li a:hover,
.menu-list-area ul li a.active {
    color: #fff;
}

.close-icon {
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#Close_Button:hover #Rectangle {
    fill: #333333;
}

#Close_Button:hover path {
    stroke: #fff;
}


/* Header Area */


/* Main Banner Area */

.main-banner {
    display: flex;
    justify-content: center;
    padding-top: 450px;
    position: relative;
    overflow: hidden;
}

.lalaland-logo {
    position: absolute;
    top: 55px;
    left: -538px;
}

.logo-cover {
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.logo-cover a {
    position: relative;
    display: inline-block;
}

.logo-cover a svg {
    padding-left: 60px;
}

.logo-cover a.cloned1 {
    position: absolute;
    top: 0;
    left: 0;
}

.hero-banner-slider {
    width: 980px;
    height: 1900px;
    position: relative;
    z-index: -9999;
}

.hero-banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-banner-img img {
    object-fit: cover;
}

.hero-image1 {
    z-index: 6;
}

.hero-image2 {
    z-index: 5;
}

.hero-image3 {
    z-index: 4;
}

.hero-image4 {
    z-index: 3;
}

.hero-image5 {
    z-index: 2;
}

.banner-image-area {
    position: relative;
}

.main-banner h1 {
    position: absolute;
    top: 370px;
    left: -530px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.street-food {
    position: absolute;
    top: 630px;
    right: -580px;
    width: 540px;
}

.main-banner h5 {
    text-transform: uppercase;
    margin-bottom: 18px;
}

.main-banner h5:last-child {
    margin-bottom: 0;
}


/* Main Banner Area */


/* Scroll Street Food Text */

.artwork-area {
    position: relative;
}

.artwork-spacing {
    padding-bottom: 4950px;
}

.street-food-text {
    position: sticky;
    top: 20px;
    z-index: 150;
    margin-left: 70px;
}

.street-food-text {
    transform: rotate(-0deg);
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
    writing-mode: tb-rl;
    margin-top: 630px;
    padding-bottom: 50px;
}

.street-food-text h4 {
    height: 1000px;
}


/* Scroll Street Food Text */


/* Guest Image Area  */

.guest-position {
    position: absolute;
    top: -175px;
    left: 40%;
}

.same-image-area {
    width: 980px;
    height: 1900px;
    position: relative;
    overflow: hidden;
}

.guest-image-area img {
    max-width: 1200px;
    width: 1200px;
    height: 2300px;
    margin-top: -100px;
}

.guest-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1300;
}

.same-image-content {
    position: absolute;
    top: 245px;
    left: 0;
    width: 100%;
}

.guest-position .same-image-content {
    z-index: 1500;
}

.same-image-content h2 {
    white-space: nowrap;
    color: #fff;
}

.same-text-btn {
    max-width: 407px;
    width: 100%;
    margin: 0 auto;
    margin-top: 130px;
}

.same-image-content h3 {
    color: #fff;
    text-transform: uppercase;
}

.same-image-content h3 span {
    display: block;
}

.custom-btn a {
    width: 407px;
    height: 80px;
    background: #fc440f;
    color: #fff !important;
    margin-top: 15px;
    padding: 10px 0 0;
}


/* Guest Modal */

.guest-modal-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    opacity: 0;
    mix-blend-mode: normal;
    z-index: -1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.guest-visible {
    background: rgba(255, 255, 255, 0.74);
    z-index: 9999;
    opacity: 1;
}

.party-visible {
    background: rgba(255, 255, 255, 0.74);
    z-index: 9999;
    opacity: 1;
}

.guest-form-container {
    width: 500px;
    height: 827px;
    position: relative;
}

.guest-close {
    position: absolute;
    top: -51px;
    right: -30px;
}

.guest-close button:hover svg rect:first-child {
    fill: #fc440f;
}

.guest-modal-contant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 35px 40px;
}

.modal-logo a {
    margin-bottom: 20px;
}

.guest-modal-area h4 {
    font-size: 57px;
    line-height: 50px;
    font-family: "HunterRegular";
    color: #fc440f;
    text-transform: uppercase;
}

.guest-modal-area h3 {
    color: #fff;
    margin-top: 35px;
    text-transform: uppercase;
}

.guest-modal-area p {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.modal-form {
    margin-top: 70px;
}

.modal-form p {
    max-width: 408px;
    width: 100%;
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    text-transform: none;
    text-align: left;
}

.party-open .modal-form {
    margin-top: 0;
}

.modal-form input {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    max-width: 324px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 40px;
    font-family: "NexaRegular";
    padding: 5px 25px;
}

.modal-form input::placeholder,
.modal-form input::-webkit-input-placeholder,
.modal-form input:-moz-placeholder,
.modal-form input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 40px;
    font-family: "NexaRegular";
    color: #333333;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

input:focus {
    color: #fff;
    background-color: #fc440f;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(13, 110, 253, 0);
}

input::selection {
    background: #333333;
}

.modal-form input.submit-btn {
    max-width: 407px;
    width: 100%;
    height: 80px;
    margin-top: 50px;
    padding: 10px 0 0;
    background: #fc440f;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    font-family: "NexaHeavy";
    text-transform: uppercase;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.modal-form input.submit-btn:hover {
    color: #333333;
    background: #fff;
}

.party-open .modal-form input.submit-btn {
    margin-top: 15px;
}

.modal-form .indicates-required {
    font-size: 13px;
    color: #fff;
    text-align: right;
    line-height: 1;
    margin-bottom: 10px;
    display: none;
}

.modal-form label {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    display: none;
}

.mc-field-group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


/* Guest Modal */


/* Guest Image Area  */


/* Orange Block Area */

.orange-position {
    position: absolute;
    top: 728px;
    left: 0;
}

.orange-block {
    width: 669px;
    height: 2228px;
    background: #fc440f;
}


/* Orange Block Area */


/* Get Involved Area */

.hire-content h3 span {
    display: inline-block;
}

.involved-position {
    position: absolute;
    top: 900px;
    left: 180px;
    z-index: 55;
}

.enquire-up-area {
    max-width: 810px;
    margin-top: 330px;
}

.involved-position h3 {
    max-width: 100%;
}

.involved-content {
    top: 0;
    padding-top: 20px;
}

.involved-position h2 {
    font-size: 180px;
    line-height: 140px;
    white-space: normal;
}

.involved-1 h2 {
    -webkit-text-stroke: 4px #fff;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: overlay;
}

.involved-2 h2 {
    mix-blend-mode: overlay;
}

.involved-3 h2 {
    color: #fc440f;
}


/* Get Involved Area */


/* DJ Image Area */

.dj-image-area {
    position: relative;
}

.dj-image-area::before {
    background: url(../img/dj-texture.png);
    content: "";
    position: absolute;
    top: -50%;
    left: -30%;
    width: 200%;
    height: 200%;
    opacity: 0.6;
    mix-blend-mode: overlay;
    animation: grain 8s steps(10) infinite;
}

@keyframes grain {
    0%,
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
        -webkit-transform: translate(-5%, -10%);
        -moz-transform: translate(-5%, -10%);
        -ms-transform: translate(-5%, -10%);
        -o-transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, 5%);
        -webkit-transform: translate(-15%, 5%);
        -moz-transform: translate(-15%, 5%);
        -ms-transform: translate(-15%, 5%);
        -o-transform: translate(-15%, 5%);
    }
    30% {
        transform: translate(7%, -15%);
        -webkit-transform: translate(7%, -15%);
        -moz-transform: translate(7%, -15%);
        -ms-transform: translate(7%, -15%);
        -o-transform: translate(7%, -15%);
    }
    40% {
        transform: translate(-5%, 15%);
        -webkit-transform: translate(-5%, 15%);
        -moz-transform: translate(-5%, 15%);
        -ms-transform: translate(-5%, 15%);
        -o-transform: translate(-5%, 15%);
    }
    50% {
        transform: translate(-15%, 10%);
        -webkit-transform: translate(-15%, 10%);
        -moz-transform: translate(-15%, 10%);
        -ms-transform: translate(-15%, 10%);
        -o-transform: translate(-15%, 10%);
    }
    60% {
        transform: translate(15%, 0%);
        -webkit-transform: translate(15%, 0%);
        -moz-transform: translate(15%, 0%);
        -ms-transform: translate(15%, 0%);
        -o-transform: translate(15%, 0%);
    }
    70% {
        transform: translate(0%, 15%);
        -webkit-transform: translate(0%, 15%);
        -moz-transform: translate(0%, 15%);
        -ms-transform: translate(0%, 15%);
        -o-transform: translate(0%, 15%);
    }
    80% {
        transform: translate(3%, 15%);
        -webkit-transform: translate(3%, 15%);
        -moz-transform: translate(3%, 15%);
        -ms-transform: translate(3%, 15%);
        -o-transform: translate(3%, 15%);
    }
    90% {
        transform: translate(-10%, 10%);
        -webkit-transform: translate(-10%, 10%);
        -moz-transform: translate(-10%, 10%);
        -ms-transform: translate(-10%, 10%);
        -o-transform: translate(-10%, 10%);
    }
}

.dj-position {
    position: absolute;
    top: 1585px;
    left: 1240px;
}

.dj-position h2 {
    position: absolute;
    top: 700px;
    left: 270px;
    height: 100%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.join-area {
    max-width: 700px;
    position: absolute;
    bottom: -1250px;
    left: 60px;
}


/* DJ Image Area */


/* Private Hire Image Area */

.hire-position {
    position: absolute;
    top: 3275px;
    right: 785px;
}

.hire-position h2 {
    white-space: normal;
    text-align: right;
    line-height: 180px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-lr;
    -webkit-writing-mode: tb-lr;
    -ms-writing-mode: tb-lr;
    position: absolute;
    top: 380px;
    left: -220px;
    mix-blend-mode: overlay;
}

.hire-position h2 span {
    display: block;
}

.get-area {
    max-width: 467px;
    margin-right: 65px;
    margin-top: 605px;
}


/* Private Hire Image Area */


/* Lalaland About Area */

.about-area {
    overflow: hidden;
    position: relative;
}

.about-horizontal-title h2 {
    font-family: "Nexa-XBold";
    font-size: 200px;
    line-height: 250px;
    white-space: nowrap;
    -webkit-text-stroke: 2px #fc440f;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding-right: 230px;
}

.about-title-scroll {
    position: relative;
    background: transparent;
    width: 130%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.about-title-wrap {
    position: relative;
    display: inline-block;
}

.about-title-wrap.cloned2 {
    position: absolute;
    top: 0;
    left: 0;
}

.find-us-texts {
    max-width: 600px;
    text-transform: uppercase;
    margin-left: 450px;
    margin-top: 170px;
    padding-bottom: 2340px;
}

.about-area p {
    font-family: "Nexa-XBold";
    font-size: 20px;
    line-height: 40px;
}

.about-area h5 {
    font-size: 24px;
    line-height: 40px;
    margin-top: 45px;
}

.service-details {
    margin-top: 100px;
}

.service-details h3 {
    font-size: 30px;
    line-height: 50px;
    color: #fc440f;
    text-transform: uppercase;
}

.contact-btn a {
    background: #fc440f;
    color: #fff;
    margin-top: 90px;
}

.contact-btn a:hover {
    color: #fff !important;
    background: #333333;
}


/* Party Area */

.party-position {
    position: absolute;
    top: 315px;
    right: 230px;
}

.party-content {
    top: 580px;
}

.party-content h2 {
    margin-left: -50px;
    letter-spacing: 3px;
}

.same-text-btn p {
    font-family: "Nexa-XBold";
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
}

.want-area {
    max-width: 550px;
    margin-top: 195px;
}


/* Party Area */


/* Green Block Area */

.green-position {
    position: absolute;
    top: 1100px;
    right: 0;
}

.green-block {
    width: 669px;
    height: 1731px;
    background: #79a479;
}


/* Green Block Area */


/* Lalaland Social Area */

.social-position {
    position: absolute;
    top: 1465px;
    left: 340px;
}

.social-content {
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
}

.social-content .blink-lalaland {
    animation: blinkanimate 2.5s infinite linear;
    -webkit-animation: blinkanimate 2.5s infinite linear;
}

@keyframes blinkanimate {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.social-content .blink-lalaland:nth-child(1),
.social-content .blink-lalaland:nth-child(2) {
    animation-delay: 0.2s;
}

.social-content .blink-lalaland:nth-child(2),
.social-content .blink-lalaland:nth-child(3) {
    animation-delay: 0.5s;
}

.social-content .blink-lalaland:nth-child(3) {
    animation-delay: 1s;
}

.social-content .blink-lalaland:nth-child(1),
.social-content .blink-lalaland:nth-child(3) {
    animation-delay: 0.7s;
}

.social-titles {
    padding-top: 40px;
    padding-left: 60px;
}

.social-list-area {
    max-width: 100%;
    padding-left: 80px;
}

.social-list-area h3 {
    font-family: "Nexa-XBold";
    font-size: 80px;
    line-height: 80px;
    color: #fc440f;
}

.social-list-area h3 span:last-child {
    font-size: 40px;
    line-height: 50px;
}

.social-list-area p {
    color: #fc440f;
}

.social-list-item {
    display: flex;
    margin-top: 30px;
}

.social-list-item li {
    margin-right: 30px;
}

.social-list-item li:last-child {
    margin-right: 0;
}


/* Lalaland Social Area */


/* Footer Enjoy trip */

.footer-enjoy-trip {
    position: absolute;
    bottom: 40px;
    left: -380px;
}

.footer-enjoy-trip h2 {
    font-family: "HunterRegular";
    font-size: 200px;
    line-height: 120px;
    white-space: nowrap;
    color: #fc440f;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer-title-scroll {
    position: relative;
    background: transparent;
    width: 130%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.footer-title-wrap {
    position: relative;
    display: inline-block;
}

.footer-title-wrap.cloned3 {
    position: absolute;
    top: 0;
    left: 0;
}


/* Footer Enjoy trip */


/* Lalaland About Area */


/* Footer Area */

#footer {
    padding-top: 75px;
    padding-bottom: 80px;
    position: relative;
    z-index: 995;
}

#footer p {
    font-family: "Nexa-XBold";
    font-size: 16px;
    line-height: 20px;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.footer-list li {
    margin-right: 18px;
}

.footer-list li:first-child {
    margin-right: 0;
}

.footer-list li a,
.footer-list li p {
    font-family: "Nexa-XBold";
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.footer-list li a:hover {
    color: #fc440f;
}


/* Footer Area */


/* Terms Page */

.new-page-container {
    padding-bottom: 300px;
}

.new-page-container li {
    line-height: normal;
}

.new-page {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-top: 80px !important;
}

.page-footer {
    position: relative;
    overflow: hidden;
}

.new-page-container h1 {
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
}

.new-page-container p {
    text-transform: none;
}

.new-page-container ul li {
    margin-bottom: 50px;
}

.new-page-container ul li p {
    margin-left: 40px;
    margin-bottom: 30px;
}

.privacy-page .new-page-container ul li p {
    margin-left: 0;
    margin-bottom: 20px;
}

.privacy-page .new-page-container a {
    color: #333333;
    font-size: 18px;
    line-height: 35px;
    text-decoration: underline;
}

.privacy-page .new-page-container ul li ul {
    margin-left: 60px;
}

.privacy-page .new-page-container ul li ul li {
    list-style: disc;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 10px;
}

.privacy-page .entry-content {
    margin-top: 20px;
    margin-bottom: 40px;
}


/* Terms Page */